<% @presenter.character_series.each do |series| %>
<article class="sub-cat-hero-card">
  <img src="<%= series.thumbnail_small %>" alt="" class="sub-hero-img">
  <article class="sub-side-car">
    <div class=""><span>Title</span>: <span><%= series.title %></span></div>
    <div class=""><span>Start Year</span>: <span><%= series.start_year %></span></div>
    <div class=""><span>End Year</span>: <span><%= series.end_year %></span></div>
    <a href="<%= series.more_info %>">More Info</a>
  </article>
</article>
<% end %>
