<% @presenter.search_results.each do |result| %>
  <article class="hero-card">
    <img src="<%= result.thumbnail %>" alt="" class="thumb-img">
    <aside class="hero-card-right">
      <div><span class="ul">Title</span>: <span class="hero-name"><%= result.title %></span></div>
      <div><span class="ul">Description</span>: <%= result.description %></div>
      <div><span class="ul">Characters</span>: <%= result.characters_count %></div>
      <div><span class="ul">Events</span>: <%= result.events_count %></div>
    </aside>
  </article>
<% end %>
